

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASMR 검색기</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        $(function(){

           $("#btn_search").click(
               function(){
                   $.ajax({
                        url: "search",
                        data: {
                            "keyword": $("input[name='keyword']").val()
                        },
                        method: "POST",
                        success: function (data, textStatus, jqXHR) {
                            console.log(data);
                            videoId = data.name.items[1].id.videoId;
                            console.log(videoId);
                            console.log('<iframe width="300" height="300" src="https://www.youtube.com/embed/"'+  videoId  +' frameborder= "0" allowfullscreen></iframe>');
                            $("#ut-div").prepend('<iframe width="300" height="300" src="https://www.youtube.com/embed/'+  videoId  +' " frameborder= "0" allowfullscreen></iframe>');
                        }
                    });
               }
           )
        });
    </script>
</head>

<body bgcolor="#b8860b">
<div class="container">
    <form action="search" method="post">
        <center><img src="http://ext.fmkorea.com/files/attach/new/20161005/486616/23015114/478064674/af9ac6a436f723f7f8ca645660b52d7a.gif" width=300 height="340"/></center>
<br>
<center>   <input type="text" name="keyword" class="form-control input-sm text-center" style="width: 60%" id="asmr_number" >
</center>
<br>
    <center><button type="button" class="btn btn-warning btn-sm" id="btn_search"><span class="glyphicon glyphicon-search" aria-hidden="true"> 검색</span></button>
    </center>
    </form>
    <div id="ut-div">
    </div>
</div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>